#image{
    position: absolute;
    left: 80px;
    top: 25%;
    width: 30%;
    height: 400px;
    border: 3px solid black;
    background-color: white;
    float: left;
}
#choice{
    position: absolute;
    right: 80px;
    top: 25%;
    width: 45%;
    height: 400px;
    border: 3px solid black;
    background-color: white;
    float: right;
}
#reset{
    position: absolute;
    bottom: 15%;
    left: 35%;
    width: 100px;
    height:30px;
    text-align: center;
    border: 3px solid black;
}
#submit{
    position: absolute;
    bottom: 15%;
    left: 45%;
    width: 100px;
    height:30px;
    text-align: center;
    border: 3px solid black;
}
a:link{text-decoration :none; color:black;}
a:visited{ text-decoration :none; color:black; }
